{% extends 'jobs/base.html' %}
{% load static %}

{% block title %}
    Altear vaga
{% endblock %}Publicar uma vaga{% block content %}
    <div class="max-w-3xl mx-auto px-6 py-12 mt-12 shadow">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="space-y-12">
                <div>
                    <h2 class="text-2xl font-semibold leading-7 text-gray-900">Alterar informações da vaga Vaga</h2>
                    <p class="mt-1 text-sm leading-6 text-gray-600">Preencha os campos abaixo para atualizar a vaga.</p>

                    <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                        <div class="col-span-full">
                            <label for="titulo" class="block text-sm font-medium leading-6 text-gray-900">Título da
                                Vaga</label>
                            <div class="mt-2">
                                <input type="text" name="titulo" id="titulo" value="{{ vaga.titulo }}"
                                       autocomplete="titulo"
                                       class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"/>
                            </div>
                            <small class="text-slate-400 font-light">Exemplo: "Desenvolvedor Django Senior",
                                "Engenheiro", "Programador Python Junior"</small>
                        </div>

                        <div class="col-span-full">
                            <label for="localizacao" class="block text-sm font-medium leading-6 text-gray-900">Local de
                                Trabalho</label>
                            <div class="mt-2">
                                <input type="text" name="localizacao" id="localizacao" value="{{ vaga.localizacao }}"
                                       autocomplete="localizacao"
                                       class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"/>
                            </div>
                            <small class="text-slate-400 font-light">Exemplo: "Remoto", "Remoto/Brasil",
                                "Ariquemes"</small>
                        </div>

                        <div class="sm:col-span-3">
                            <label for="tipo" class="block text-sm font-medium leading-6 text-gray-900">Tipo de
                                Emprego</label>
                            <div class="mt-2">
                                <select id="tipo" name="tipo" autocomplete="tipo"
                                        class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6">
                                    {% for choice in tipo_vaga_choices %}
                                        <option value="{{ choice.0 }}"
                                                {% if vaga.tipo == choice.0 %}selected{% endif %}>
                                            {{ choice.1 }}
                                        </option>
                                    {% endfor %}
                                </select>

                            </div>
                        </div>

                        <div class="col-span-full">
                            <label for="descricao" class="block text-sm font-medium leading-6 text-gray-900">Descrição
                                Da Vaga</label>
                            <div class="mt-2">
                                <textarea id="descricao" name="descricao" rows="3"
                                          class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">{{ vaga.descricao|default_if_none:"" }}</textarea>
                            </div>
                            <p class="mt-3 text-sm leading-6 text-gray-600">Descrição da vaga, requisitos, benefícios,
                                etc.</p>
                        </div>


                        <div class="col-span-full">
                            <label for="organizacao" class="block text-sm font-medium leading-6 text-gray-900">Nome Da
                                Empresa</label>
                            <div class="mt-2">
                                <input type="text" name="organizacao" id="organizacao" value="{{ vaga.organizacao }}"
                                       autocomplete="organizacao"
                                       class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"/>
                            </div>
                        </div>

                        <div class="col-span-full">
                            <label for="salario" class="block text-sm font-medium leading-6 text-gray-900">Salário
                                (opcional)</label>
                            <div class="mt-2">
                                <input type="text" name="salario" id="salario" value="{{ vaga.salario }}"
                                       autocomplete="salario"
                                       class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"/>
                            </div>
                            <small class="text-slate-400 font-light">Exemplo: "R$5000,00", "$70,000 - $120,000",
                                "€80,000 — €102,000"</small>
                        </div>

                        <div class="col-span-full">
                            <label for="logo" class="block text-sm font-medium leading-6 text-gray-900">Logo Da Empresa
                                <div class="mt-2 flex items-center gap-x-3">
                                    {% if vaga.logo %}
                                        <img src="{{ vaga.logo }}" alt="Logo da empresa"
                                             class="w-16 h-16 rounded-md shadow-sm"/>
                                    {% else %}
                                        <img src="media/logos/sem-logo.png" alt="Logo da empresa"
                                             class="w-16 h-16 rounded-md shadow-sm"/>
                                    {% endif %}
                                    <input type="file" name="logo" id="logo" autocomplete="logo" class="sr-only"/>
                                    <button type="button"
                                            class="rounded-md bg-white px-2.5 py-1.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50">
                                        Escolher
                                    </button>
                                </div>
                            </label>
                            <small class="text-slate-400 font-light">130x130 é melhor, mas qualquer tamanho
                                funciona</small>
                        </div>

                    </div>
                </div>

            </div>

            <div class="mt-6 flex items-center justify-end gap-x-6">
                <button type="button" class="text-sm font-semibold leading-6 text-gray-900">Cancelar</button>
                <button type="submit"
                        class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                    Publicar
                </button>
            </div>
        </form>
    </div>

{% endblock %}
