<footer class="w-full bg-slate-200/25">

    <div class="max-w-4xl mx-auto flex flex-col items-center gap-3 py-12">
        <div class="text-slate-500 text-lg tracking-wide font-light"><strong class="text-accent">JobZoom</strong> - Ativididade para a Disciplina de Programação IV - 2023/2</div>
        <div class="font-semibold text-slate-700">Aluno: Lucas Pedreira Vital - IFRO Campus Ariquemes</div>
        <div class="font-semibold text-slate-700">Professor: Marcos Alves Faino</div>
        <div class="text-slate-500 text-sm tracking-wide font-light">&copy; 2023</div>
    </div>

</footer>