<header>
    <nav class="max-w-7xl mx-auto flex justify-between items-center p-12">
        <ul>
          <li>
            <a href="#" class="text-3xl font-bold text-accent">JobZoom</a>
          </li>
        </ul>
        <ul class="flex items-center space-x-6">
            <li><a class="font-semibold text-lg hover:underline text-slate-900" href="#">Vagas</a></li>
            <li><a class="font-semibold text-lg hover:underline text-slate-900" href="#">Login</a></li>
        </ul>
        <ul>
          <li><a href="#" role="button" class="btn-primary">Publicar uma Vaga</a></li>
        </ul>
      </nav>
</header>