{% extends 'jobs/base.html' %}
{% load static %}

{% block title %}
    Início
{% endblock %}
{% block content %}



    <article class="max-w-4xl mx-auto mt-10 p-6 bg-white shadow-lg rounded-lg">
        <div class="flex flex-col">
            <div class="flex items-center space-x-2  p-4">
                <div>
                    {% if vaga.logo %}
                        <img src="{{ vaga.logo }}" alt="" class="w-14 h-14 object-contain rounded-lg"/>
                    {% else %}
                        <img src="{% get_media_prefix %}logos/sem-logo.png" alt=""
                             class="w-14 h-14 object-contain rounded-lg"/>
                    {% endif %}
                </div>
                <div>
                    <h1 class="text-2xl font-bold text-accent">{{ vaga.usuario.perfil }}</h1>
                </div>
            </div>

            <div class="sm:w-3/4 p-4">
                <h2 class="text-2xl font-bold text-gray-800">{{ vaga.titulo }}</h2>
                <p class="text-gray-600 mt-2">{{ vaga.organizacao }}</p>
                <p class="mt-1 text-gray-500">Localização: {{ vaga.localizacao }}</p>
                <p class="mt-1 text-gray-500">Tipo: {{ vaga.get_tipo_display }}</p>
                <p class="mt-1 text-gray-500">Publicado em: {{ vaga.criado_em|date:"d/m/Y" }}</p>
                <p class="mt-1 text-gray-500">Atualizado em: {{ vaga.atualizado_em|date:"d/m/Y" }}</p>
                {% if vaga.salario %}
                    <p class="mt-1 text-gray-500">Salário: {{ vaga.salario }}</p>
                {% endif %}
            </div>

        </div>

        <div class="mt-4 p-4">
            <h3 class="text-xl font-semibold text-gray-800">Descrição da Vaga</h3>
            <p class="mt-2 text-gray-600">{{ vaga.descricao }}</p>
        </div>

        <div class="mt-4 p-4">
            <a href="{% url 'jobs:vaga_pdf' vaga.id %}"
               class="bg-accent hover:bg-accent-hover text-white font-bold py-2 px-4 rounded inline-flex space-x-2">
                <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                     xmlns="http://www.w3.org/2000/svg"
                     fill="none" viewBox="0 0 16 20">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M1 18a.969.969 0 0 0 .933 1h12.134A.97.97 0 0 0 15 18M1 7V5.828a2 2 0 0 1 .586-1.414l2.828-2.828A2 2 0 0 1 5.828 1h8.239A.97.97 0 0 1 15 2v5M6 1v4a1 1 0 0 1-1 1H1m0 9v-5h1.5a1.5 1.5 0 1 1 0 3H1m12 2v-5h2m-2 3h2m-8-3v5h1.375A1.626 1.626 0 0 0 10 13.375v-1.75A1.626 1.626 0 0 0 8.375 10H7Z"></path>
                </svg>
                <span>Gerar PDF</span>
            </a>
        </div>

    </article>




{% endblock %}